<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coinapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoinApp">
        <activity
            android:name=".TransactionManageActivity"
            android:parentActivityName=".HomeScreenActivity" />
        <activity
            android:name=".CoinDetailActivity"
            android:label="@string/title_activity_coin_detail"
            android:parentActivityName=".HomeScreenActivity" />
        <activity
            android:name=".AddCoinActivity"
            android:label="@string/search_coin_activity_title"
            android:parentActivityName=".HomeScreenActivity" />
        <activity
            android:name=".HomeScreenActivity"
            android:label="@string/title_activity_home_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".HomeScreenActivity" />
    </application>

</manifest>